@import "tailwindcss";
@config "../tailwind.config.js";

/* We use @layer to inject custom styles into the base layer */
@layer base {
  body {
    /* applying the custom color defined in tailwind.config.js */
    @apply bg-surface-ground text-gray-900 font-sans antialiased;
  }
}